<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UBC</title>
    <link rel="stylesheet" href="/css/main.css"></style>
</head>
<body>
    <header>
        <div class="topnav">
            <a  href="/">Home</a>
            <a  href="/like">Like SFU</a>
            <a class="active" href="/Unlike">Like UBC</a>
          </div> 
    </header>

    <div class= "main" >
            <table>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Description</th>
                </tr>
                <br><br>
                <% for(var i=0; i<data.length; i++) {%>
                    <tr>
                        <td><%=data[i].id%></td>
                        <td><%=data[i].firstname%></td>
                        <td><%=data[i].lastname%></td>
                        <td><%=data[i].description%></td>
                    </tr> 
                 <% } %>

            </table>
        </div>
    </main>
</body>                     
</html>